POSTGRES_DB=buymoreapi_db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=change-me

JWT_SECRET_KEY=change-me-to-a-long-random-string
JWT_ISSUER=BuyMoreApi
JWT_AUDIENCE=Audience
JWT_EXPIRATION_MINUTES=60

PAYSTACK_SECRET_KEY=
PAYSTACK_PUBLIC_KEY=
